{% extends "umrunet_base.html" %}
{% load umrunet_tags %}
{% block title %}Конфликт учетных записей{% endblock %}
{% block content %}
    <h1 class="content-header">Конфликт учетных записей</h1>
    {% if message %}<br /><div style="width: 640px; text-align:center; color:red; padding: 4px; border: 1px solid;">{{ message }}</div>{% endif %}
    <br />
    <div class="profile-account_merge">
    {% for i in accounts %}
        <div class="profile-account_merge-list">
            {% if i.avatar %}<img src="/media/profiles/{{ user.get_profile.folder }}/{{ i.avatar }}" />{% else %}<span></span>{% endif %}
            <p>{{ i.login }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="profile-account_merge-separator">&#11013;</div>
    <div class="profile-account_merge">
    {% for i in merge_accounts %}
        <div class="profile-account_merge-list">
            {% if i.avatar %}<img src="/media/profiles/{{ merge_profile.folder }}/{{ i.avatar }}" />{% else %}<span></span>{% endif %}
            <p>{{ i.login }}</p>
        </div>
    {% endfor %}
    </div>
    
    
    <form action="" class="profile-account_merge-form" method="post">{% csrf_token %}
        <div class="profile-account_merge-rgroup">
            <input type="radio" name="merge_settings" value="1" checked="checked" /><p>Оставить текущие настройки</p>
            <br />
            <input type="radio" name="merge_settings" value="2" /><p>Импортировать настройки</p>
            <br />
        </div>
        <input type="submit" name="merge" value="Объединить аккаунты" /><input type="submit" name="cancel" value="Отмена" />
    </form>
{% endblock %}
