
div(id="preloader")
  //img.logo(src="images/logo2.jpg" alt="" width="119" height="58")
  img.logo(src="" alt="" width="119" height="58")
  div(id="status")
    span.span-loader
    span.span-loader
